# Ignore environment and secrets
.env
.env.local
.environment_copy
# Ignore common local files
__pycache__/
*.pyc
*.log
.vscode/
.idea/
node_modules/
dist/

airflow.cfg.env
airflow.cfg
config/airflow.cfg
airflow-webserver.pid
webserver_config.py

pipeline/z_extras/
dags/test_dags.py

*.log
logs/